.login {
  margin-right: 40px;
}

.input-group{
  max-width: 300px;
  background-color: white;
  border-radius: 5px;
  margin-right: 20px;
}

.inputbar{
  border-style: none;
}

.input-group-addon{
  background-color: #cb0f0f;
  border-radius: 5px;
  border: .5px solid white;
  width: 20%;
}

.searchPls{
  width: 19px;
  height: 18px;
  position: relative;
  top: -3px;
  /* border: solid blue 1px; */
}

.bg-primary {
  background-color: #cb0f0f!important;
}

.nav-item {
  padding-left: 5px;
  padding-right: 10px;
}

.navbar-brand{
  padding-left: 10px;
  padding-right: 10px;
}

.logo{
  height: 30px;
  width: 30px;
  position: relative;
  top: -2px;
}

.userNameDisplay{
  color: rgba(255,255,255, 0.8);
}

.Logout{
  color: rgba(255,255,255, 0.8);
  border: none;
}

.Logout:hover{
  background-color: rgb(249, 78, 78);
}

button:focus {
  outline: 0;
}

.logoutWord{
  font-size: 15px;
  color: #cb0f0f;
  background-color: none;
  border-style: none;
  background: none;
  /* border:solid red 1px; */

}

.logoutWord:hover{
  color: #ff5c5c;
  text-decoration: underline;
}

.fixDrop{
  position: relative;
  /* border: solid red 1px; */
  top: 5px;
}

.logOwt{
  /* border:solid red 1px; */
  padding: 1px, 20px;
  position: relative;
  bottom: 7px;
}

hr{
  margin-top: 10px;
}