
.PageTop{
    font-size: 2em;
    color: #a70505;
}

.imageCheck{
    width:180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    border: outset 1.3px;
}

.card{
    width: 190px;
    border:solid 1px #cb0f0f; 
    transition: all .2s ease-in-out; 
    font-size: .9em;
}

.category{
   
    position: relative;
    top: 14px;
    
}

.card-deck, .card{
    /* border:solid red 1px; */
    margin:auto;
    margin-top: 15px;
}
.card-deck{
    position: relative;
    right: 15px;
}
.card-text{
    max-height: 50px;
}

.col-md{
    /* border: solid red 1px; */
    width: 90%;
}

.PageTitle{
    font-size: 1.5em;
    line-height: 2em;
    color: #a70505;
}

.category:hover {
    color:#ff3535;
}

.catBtn{
    border-style: none;
    background-color: none;
}

.card:hover{
    transform: scale(1.05);
}

.footer-copyright{
    width: 100%;
    color: rgba(0, 0, 0, 0.5);
}
.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 200px));
    grid-gap: .5rem;
}

.row{
    /* border: solid red 1px; */
}