.OutterBox{
    border: 1px rgb(155, 155, 155) solid;
    position: relative;
    top: 20px;
    height: 72vh;
    width:55vw;
    background-color: rgb(250, 250, 250);
    overflow:auto;
    border-radius: 3px;
}

.SignUpField{
    margin-top: 20px;
}

.signupMove{
    /* border: solid red 1px; */
    position: relative;
    top:8%;
}